---
import Description from '@/components/Description.astro'
import TagList from '@/components/TagList.astro'
import type { JobRole } from './ExperienceSection.types'

interface Props extends JobRole {}

const { title, dates, description, tagsList } = Astro.props

const tags = tagsList.tags.map((t) => {
	return {
		...t,
		iconColorDark: '#FFFFFF'
	}
})
---

<div class='flex sm:translate-x-4 sm:px-5'>
	<div class='timeline_dot hidden sm:block'>
		<span class='mt-1 block h-4 w-4 rounded-full bg-zinc-700 dark:bg-zinc-600'></span>
		<span class='timeline_line block h-full w-[2px] translate-x-[7px] bg-zinc-700 dark:bg-zinc-600'
		></span>
	</div>
	<div class='timeline_line bd-grid px-5'>
		<h3 class='mb-1 font-semibold'>{title}</h3>
		{
			dates.map(([from, to], i) => {
				const startDate = from.toLocaleDateString('en-US', {
					year: 'numeric',
					month: 'short'
				})

				const endDate = to?.toLocaleDateString('en-US', {
					year: 'numeric',
					month: 'short'
				})

				return (
					<>
						<span class='text-sm font-light'>
							{startDate} - {endDate ?? 'Present'}
						</span>
						{i < dates.length - 1 && <span class='px-2 text-sm font-light'>|</span>}
					</>
				)
			})
		}
		<p class='my-2 text-justify'>
			<Description content={description} classList={['list-disc', 'text-muted-foreground']} />
		</p>
		<div class='hidden py-4 sm:block'>
			<TagList title={tagsList.title} tags={tags} />
		</div>
	</div>
</div>
