---
export const prerender = true

import PageLayout from '@/layouts/BaseLayout.astro'
import type { ContentEntry } from '@/content/config'
import ArtworkCollection from '@/collections/artworks'

interface Props {
	page: {
		data: ContentEntry[]
		currentPage: number
		lastPage: number
	}
	uniqueTags: string[]
}

const allArtworks = await ArtworkCollection.getAll()

const artworksByType = new Map<string, ContentEntry>()

for (const artwork of allArtworks) {
	const type = artwork.slug.split('/')[0]
	const existingArtwork = artworksByType.get(type)

	const isCurrentFeatured = artwork.data.featured
	const isExistingFeatured = existingArtwork?.data.featured

	if (!existingArtwork) {
		// There is no existing artwork for this type, add it
		artworksByType.set(type, artwork)
		continue
	}

	if (isExistingFeatured && !isCurrentFeatured) {
		// keep the existing one
		continue
	}

	if (isExistingFeatured && isCurrentFeatured) {
		// Both artworks are featured, so choose the most recent
		if (artwork.data.publishDate > existingArtwork.data.publishDate) {
			artworksByType.set(type, artwork)
		}
		continue
	}

	if (!isExistingFeatured && isCurrentFeatured) {
		// replace the existing with the featured one
		artworksByType.set(type, artwork)
		continue
	}
}

const meta = {}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<h1 class='mb-6 mt-5 text-2xl font-bold'>Artworks</h1>
		<p class='mb-6 text-lg'>Explore the artworks of the artists.</p>

		<div class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3'>
			{
				[...artworksByType.entries()].map(([type, artwork]) => (
					<div class='relative'>
						<a
							href={`/artworks/types/${type}`}
							class='relative block overflow-hidden transition-transform duration-300 hover:scale-105'
						>
							<img
								src={artwork.data.coverImage?.image.src}
								alt={artwork.data.title}
								class='h-64 w-full rounded-lg object-cover '
							/>
							<h2 class='absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-2 text-center text-lg font-bold text-white'>
								{type}
							</h2>
						</a>
					</div>
				))
			}
		</div>
	</div>
</PageLayout>
