---
export const prerender = true

import type { GetStaticPaths, Page } from 'astro'
import { type Config } from '@/types/data'

import Pagination from '@/components/Paginator.astro'
import ContentPreview from '@/components/blog/ContentPreview.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import PostCollection from '@/collections/post'
import ProjectCollection from '@/collections/projects'
import type { ContentEntry } from '@/content/config'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const allContent = [...(await PostCollection.getAll()), ...(await ProjectCollection.getAll())]
	const allTags = allContent.flatMap((content) => content.data.tags)
	const uniqueTags = Array.from(new Set(allTags))

	const sortByPublishDate = (a: ContentEntry, b: ContentEntry) => {
		const dateA = new Date(a.data.publishDate)
		const dateB = new Date(b.data.publishDate)
		return dateB.getTime() - dateA.getTime()
	}

	return uniqueTags.flatMap((tag) => {
		const filterContents = allContent
			.filter((content) => content.data.tags.includes(tag))
			.sort(sortByPublishDate)

		return paginate(filterContents, {
			pageSize: 10,
			params: { tag }
		})
	})
}

export interface Props {
	page: Page<ContentEntry>
}

const { page } = Astro.props as unknown as Props
const { tag } = Astro.params

const meta = {
	description: `View all posts with the tag - ${tag}`,
	title: `Tag: ${tag}`
} as Config['meta']

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: `← Previous Tags`,
			url: page.url.prev
		}
	}),
	...(page.url.next && {
		nextUrl: {
			text: `Next Tags →`,
			url: page.url.next
		}
	})
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<h1 class='mb-6 mt-5 flex items-end gap-x-2 text-2xl font-bold'>
			Tags:
			<span class='text-xl'>#{tag}</span>
		</h1>
		<section aria-label='Blog post list'>
			<ul class='flex flex-col gap-y-3 text-start'>
				{page.data.map((p) => <ContentPreview as='h2' content={p} withDesc />)}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>
