---
import type { IconName } from '@/components/sections/shared'
import Icon from './Icon.astro'

export interface Tag {
	/** Text displayed within the tag. */
	name: string

	/** Icon displayed next to the tag text. */
	icon?: IconName

	/** Color of the icon. By default, the color is inherited from the text. */
	iconColor?: string

	/** Color of the icon in dark mode. By default, the color is inherited from the text. */
	iconColorDark?: string

	/** Size of the icon. Defaultof the icon is 16. */
	iconSize?: number

	/** URL that will be opened in a new tab, when the tag is clicked. */
	url?: string

	/** Text displayed in the tooltip when someone hovers over the tag. */
	description?: string

	target?: '_blank' | '_self' | '_parent' | '_top'
}

export interface Props extends Tag {}

const { name, description, icon, iconSize, iconColor, url, iconColorDark, target } = Astro.props

const className =
	'flex p-3 h-4 w-fit items-center gap-x-1.5 rounded bg-zinc-200 px-2.5 dark:bg-zinc-700 drop-shadow'
const customProps = url
	? ({
			href: url,
			as: 'a',
			target: target || '_blank',
			rel: 'noopener noreferrer',
			class: `${className} hover:bg-zinc-200 dark:hover:bg-zinc-500`
		} as const)
	: {
			class: className
		}
---

<a
	data-tooltip={description}
	{...customProps}
	class:list={[
		customProps.class,
		'text-sm font-medium tracking-wide text-gray-700 dark:text-gray-100'
	]}
>
	{icon && <Icon name={icon} color={iconColor} size={iconSize || 16} darkColor={iconColorDark} />}
	{name}
</a>
