---
import TOC from '@/components/blog/TOC.astro'
import type { Config } from '@/types/data'
import ImageSrc from '@/components/ImageSrc.astro'

import PageLayout from './BaseLayout.astro'
import ContentSidePanel from '@/components/blog/ContentSidePanel.astro'
import MetaData from '@/components/blog/MetaData.astro'
import HeroTitle from '@/components/blog/HeroTitle.astro'
import type { ArtworkEntry } from '@/content/config'

interface Props {
	urlRoot: string
	content: ArtworkEntry
	meta?: Config['meta']
}

const { content, meta, urlRoot } = Astro.props
const { headings } = await content.render()

const pageMeta = {
	...meta,
	description: content.data.description,
	title: content.data.title,
	articleDate: content.data.publishDate.toISOString(),
	ogImage: content.data.ogImage ?? `/og-image/${content.slug}.png`
} as Config['meta']

const sidePanelVisible = !!content.data.meta || !!headings.length
---

<PageLayout meta={pageMeta}>
	<div class='w-full'>
		<div class='mt-2 gap-x-10 lg:flex lg:items-start'>
			<ContentSidePanel visible={sidePanelVisible}>
				{!!headings.length && <TOC headings={headings} />}
				{content.data.meta && <MetaData content={content} />}
			</ContentSidePanel>

			<article class='flex-grow break-words' data-pagefind-body>
				<HeroTitle content={content} tagsRoot={urlRoot} />
				{
					content.data.coverImage && (
						<div class='my-6'>
							<ImageSrc
								alt={content.data.coverImage.alt || ''}
								class='rounded-2xl'
								src={content.data.coverImage.image.src}
							/>
						</div>
					)
				}
				<div
					class='prose prose-base prose-zinc mt-12 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
				>
					<slot />
				</div>
			</article>
		</div>
	</div>
</PageLayout>

<script>
	const scrollBtn = document.getElementById('to-top-btn') as HTMLButtonElement
	const targetHeader = document.getElementById('blog-hero') as HTMLDivElement

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// only show the scroll to top button when the header is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString()
		})
	}

	scrollBtn.addEventListener('click', () => {
		document.documentElement.scrollTo({ behavior: 'smooth', top: 0 })
	})

	const observer = new IntersectionObserver(callback)
	observer.observe(targetHeader)
</script>
